<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us / Sobre Nosotros</h2>
                <hr class="light">
                <p class="text-faded">We are a coalition of street vendors in Washington, D.C. Our passion is to serve our community. Many of us do this by vending cultural foods. Other vendors sell clothing, lotions, and even face masks. Together, we are United Vendors active in the community to enrich it with culture and to help it grow the economy.</p>
                <p class="text-faded">Somos una coalición de vendedores ambulantes en Washington, D.C. Nuestra pasión es servir a nuestra comunidad. Muchos de nosotros hacemos esto vendiendo comida culturales. Otros vendedores venden ropa, lociones e incluso máscaras. Juntos, somos Vendedores Unidos activos en la comunidad para llenarla con cultura y ayudar a crecer la economía.</p>
                <a href="about.html" class="btn btn-default btn-xl">Find Out More</a>
            </div>
        </div>
    </div>
</section>
