<footer>
    <div class="container">
        <div class="footer-content-inner">
            <footer>
                <ul>
                    <li><span>Main photo by <a href="https://unsplash.com/@lomogee?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Roman Arkhipov</a> on <a href="https://unsplash.com/@lomogee?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></li>
                    <li><span>Our Vendors photos by (left to right):</span>
                    <span><a href="https://unsplash.com/@veradavidovaphotography?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Vera Davidova</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                    <span>, <a href="https://www.pexels.com/photo/sliced-fruits-on-wooden-chopping-board-5677920/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Viktoria Slowikowska</a> on <a href="https://www.pexels.com">Pexels</a></span>
                    <span>, <a href="https://unsplash.com/@jeison?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jeison Higuita</a> on <a href="https://unsplash.com/s/photos/guatemala-food?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                    <span>, <a href="https://unsplash.com/@tkaiser?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">T. Kaiser</a> on <a href="https://unsplash.com/s/photos/street-food-mexican?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                    <span>, <a href="https://unsplash.com/@dlerman6?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Daniel Lerman</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                    <span>, <a href='https://www.freepik.com/photos/food'>Freepik</a> on <a href='https://www.freepik.com/photos/food'>Freepik.com</a>
                </ul>
            </footer>
        </div>
    </div>