<header class="header">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="header-content-title">Vendedores Unidos</h1>
            <hr>
            <p class="header-content-subtitle">United Vendors DC</p>
            <!--<h1>Vendedores Unidos</h1>
            <hr>
            <p>United Vendors DC</p>-->
            <div class="">
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Find out more</a>

            </div>
        </div>
    </div>
</header>
