<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Vendors / Nuestros Vendedores
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/rasul_masks_650*350.jpg" class="img-responsive" alt="">
                    <!--Image from https://www.post-gazette.com/news/health/2020/04/16/where-can-i-buy-order-homemade-masks-pittsburgh-allegheny-county-covid-19/stories/202004160136-->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Rasul
                            </div>-->
                            <div class="project-name">
                                Rasul
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/santiaga_guatemalan_food_650*350.jpg" class="img-responsive" alt="">
                    <!--Image by Rozette Rago from https://www.nytimes.com/2019/10/29/dining/little-guatemala-los-angeles.html-->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Santiaga
                            </div>-->
                            <div class="project-name">
                                Santiaga
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mary_mexican_food_650*350.jpg" class="img-responsive" alt="">
                    <!--Image by Christina Gandolfo from https://www.lamag.com/digestblog/best-street-food-los-angeles/-->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Mary
                            </div>-->
                            <div class="project-name">
                                Mary
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/maria_mexican_food_650*350.jpg" class="img-responsive" alt="">
                    <!--Image from https://eatmexico.com/useful-spanish-phrases-to-use-while-exploring-mexico-citys-culinary-scene/-->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Maria
                            </div>-->
                            <div class="project-name">
                                Maria
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/aloisa_venezuelan_food_650*350.jpg" class="img-responsive" alt="">
                    <!--Image by Michael Sears from https://www.jsonline.com/story/entertainment/dining/carol-deptolla/2020/07/21/venezuelan-food-milwaukee-3-restaurants-serve-arepas-specialties/5425061002/-->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Aloisa
                            </div>-->
                            <div class="project-name">
                                Aloisa
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/jair_volunteer_650*350.jpg" class="img-responsive" alt="">
                    <!--Image from https://www.jbsa.mil/News/News/Article/461980/bamc-volunteers-fill-vital-role-in-health-care-mission/-->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Jair
                            </div>-->
                            <div class="project-name">
                                Jair
                            </div>
                        </div>
                    </div>
                </a>
            </div>



            <!-- Map Box temporarily here -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Enforcement Data Map / Mapa de Datos de Ejecución</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">                    
                    <div class='tableauPlaceholder' id='viz1604989008968' style='position: relative'>
		<noscript>
			<a href='#'>
				<img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;WC&#47;WCL_map_updated&#47;WCLMap&#47;1_rss.png' style='border: none' />
			</a>
		</noscript>
		<object class='tableauViz'  style='display:none;'>
			<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
			<param name='embed_code_version' value='3' /> <param name='site_root' value='' />
			<param name='name' value='WCL_map_updated&#47;WCLMap' /><param name='tabs' value='no' />
			<param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;WC&#47;WCL_map_updated&#47;WCLMap&#47;1.png' />
			<param name='animate_transition' value='yes' />
			<param name='display_static_image' value='yes' />
			<param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
			<param name='display_count' value='yes' /><param name='language' value='en' />
			<param name='filter' value='publish=yes' />
		</object>
	</div>                
	<script type='text/javascript'>                    
		var divElement = document.getElementById('viz1604989008968');                   
		var vizElement = divElement.getElementsByTagName('object')[0];                    
		vizElement.style.width='400%';vizElement.style.height=(divElement.offsetWidth*0.2)+'px';                    
		var scriptElement = document.createElement('script');                   
		scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
		vizElement.parentNode.insertBefore(scriptElement, vizElement);                
	</script>
                </a>
            </div>
            
        </div>
    </div>
</section>
