<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Vendors / Nuestros Vendedores
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-lg-4 col-sm-6">
          <a href="/vendors/rasul-el-amin" class="portfolio-box">
            <img src="img/portfolio/vera-davidova-masks-unsplash-650x350.jpg" class="home-vendors-item-image img-responsive" alt="" aria-hidden="true">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Rasul
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="/vendors/reyna-sosa" class="portfolio-box">
            <img src="img/vendors/reyna.jpg" class="home-vendors-item-image img-responsive" alt="" aria-hidden="true">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Reyna
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="/vendors/santiaga-gonzalez" class="portfolio-box">
            <img src="img/portfolio/jeison-higuita-guatemalan-food-unsplash-650x350.jpg" class="home-vendors-item-image img-responsive" alt="" aria-hidden="true">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Santiaga
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="/vendors/maria-vasquez" class="portfolio-box">
            <img src="img/vendors/maria.jpg" class="home-vendors-item-image img-responsive" alt="" aria-hidden="true">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Maria
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="/vendors/mary-guzman-lopez" class="portfolio-box">
            <img src="img/portfolio/daniel-lerman-mexican-food-unsplash-650x350.jpg" class="home-vendors-item-image img-responsive" alt="" aria-hidden="true">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Mary
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="/vendors/aloisa-diaz" class="portfolio-box">
            <img src="img/portfolio/three-arepas-venezuelan-food-freepik-650x350.jpg" class="home-vendors-item-image img-responsive" alt="" aria-hidden="true">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Aloisa
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
</section>
