<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
      
			<link rel="stylesheet" type="text/css" href="/css/main.css">
      
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About The Campaign</a></li>
	        		<li><a href="/whoWeAre">Who We Are</a></li>
					<li><a href="vendorsSpeak.html">Vendors Speak!</a></li>
					<li><a href="/getInvolved">Get Involved</a></li>
					<li><a href="/campaignEndorsers">Campaign Endorsers</a></li>
					<li><a href="/press">Press</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:example@gmail.com">email</a></li>
	        		<li><a href="https://github.com/">github.com/example</a></li>
				</ul>
			</footer>
		</body>
	</html>
