<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  
</body>	
  
	<head>	
		
			
    <title>{{ page.title }}</title>	
			<!-- link to main stylesheet -->	

			<link rel="stylesheet" type="text/css" href="/css/main.css">	

		</head>	
		<body>	
			
			<div class="container">	

			{{ content }}	

			</div><!-- /.container -->	
			<footer>	
	    		<ul>	
	        		<li><a href="mailto:example@gmail.com">email</a></li>	
	        		<li><a href="https://github.com/">github.com/example</a></li>	
				</ul>	
			</footer>	
		</body>  
  
</html>

  {% include contact.html %}
  {% include scripts.html %}
